{% load static %}

<footer class="footer pt-2 pb-1 bg-primary text-white">
  <div class="container">
      <hr class="bg-secondary my-3 my-lg-2">
      <div class="row">
          <div class="col mb-md-3">
              <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center mb-3">
                  <img src="{% static 'assets/img/favicon/favicon-32x32.png' %}" height="30" class="me-2" alt="MySwimTeam logo">
                  <p class="text-white fw-bold footer-logo-text m-0">MySwimTeam</p>
              </a>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com" aria-label="twitter social link"
                            class="icon-white me-2">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" class="icon-white me-2"
                            aria-label="facebook social link">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com" aria-label="github social link" class="icon-white me-2">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                </ul>
              <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                  <p class="fw-normal font-small mb-0">
                    &copy; byAntony</p>
              </div>
          </div>
      </div>
  </div>
</footer>